@import url('https://fonts.googleapis.com/css?family=Aleo:400,700|Josefin+Sans:400,700&display=swap');

@import "normalize";
@import "layout";
@import "elements";

$primary-color: #5474fd;
$text-color: #fff;
$body-font-family: 'Josefin Sans', sans-serif;
$title-family: 'Aleo', sans-serif;

$medium: 640px;
$large: 1024px;

body{
	font: 400 16px/1.6 $body-font-family;
	color: $text-color;
	border: 18px solid white;
}
p{
	margin: 0 0 40px;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.6;
	color: $text-color;
	margin: 0;
}
h1{
font-size: 48px;
line-height: 1;
margin-bottom: 18px;
font-weight: 700;

@media screen and (min-width: $medium){
	font-size: 36px;
}
}
h3{
font-size: 36px;
font-family: $title-family;
}
h5{
	font-size: 20px;
font-family: $body-font-family;
text-transform: uppercase;
font-weight: 400;
margin-bottom: 25px;

	}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1140px;
}
.ba-section{
	padding: 120px 0;
	margin: 0;

	&--choose{
		background: #44464d url(../img/bgchoose.png) 50% no-repeat;
	background-size: cover;
	}
	&--step{
		background-color: #333333;
		padding: 100px 0 40px;
	}
	&--book{
		background: #44464d url(../img/bgbooking.png) 50% no-repeat;
	background-size: cover;
	padding: 230px 0 100px;
	}
	&--bookspain{
		background: #44464d url(../img/bgbookspain.png) 50% no-repeat;
	background-size: cover;
	padding: 230px 0 100px;
	}
	&--reviews{
		background: #44464d url(../img/bgtourist.png) 50% no-repeat;
	background-size: cover;
	padding: 107px 0 200px;
	}

}
@import "section-intro";
@import "header";
@import "choose";

.ba-col-medium-4{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ba-icon{
	margin-bottom: 20px;
}
.ba-text-center{
	&--step{
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0;
	}
}
@import "book";
.ba-quote{
	display: flex;

}
.ba-tourist{
	background-color: #333333;
	padding: 45px 45px 15px 45px;

	&__name{
		font-size: 20px;
		text-transform: uppercase;
		
	}
	&__text{
margin-bottom: 0px;
	}
	
}
footer{
	background-color: #232323;
	padding: 123px 0 40px;
}
.ba-footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.ba-footer-hidden{
	display: none;
}
.ba-socials{
	a{
		text-decoration: none;
	}
	svg{
		fill: #fff;
	}
	a + a{
		margin-left: 15px;
	}
}